<% if @order_items.empty? %>
  <p><%= t('cart.no_products') %></p>
<% else %>
  <% @order_items.each do |item| %>
    <hr class="my-4">
    <div class="row mb-4 d-flex justify-content-between align-items-center">
      <div class="col-2 ">
        <% if item.product.img?%>
          <%= image_tag(item.product.img, :class => "img-fluid rounded-3") %>
        <% else %>
          <%= image_tag("no_image.jpg", :class => "img-fluid rounded-3") %>
        <% end %>
      </div>
      <div class="col-5">
        <h6 class="text-muted"><%= item.product.title %></h6>
        <h6 class="text-black mb-0"><%= item.product.price %>BYN</h6>
        <% if can? :destroy, OrderItem %>
          <%= button_to t('forms.destroy'), item, method: :delete, :class => 'btn btn-link text-danger' %>
        <% end %>
      </div>
      <% if can? :update, OrderItem %>
      <div class="col-2 d-flex">
        <%= form_with model: item do |f| %>
          <%= f.hidden_field :product_id, value: item.product.id %>
          <%= f.number_field :quantity, value: item.quantity.to_i, min: 1, :class => "form-control " %>
          <%= f.submit t('edit'), :class => "btn btn-link text-success" %>
          </div>
          <div class="col-3 d-flex justify-content-center">
            <h6 class="mb-0"><%= item.total %> BYN</h6>
          </div>
        <% end %>
        </div>
      <% end %>
  <% end %>
<% end %>