<section class="h-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black"><%= t('include.products') %></h1>
                  </div>
                  <hr class="my-4">
                  <%= form_with(url: analyze_path, method: :post) do |form| %>
                    <% @products.each do |product| %>
                      <div>
                        <%= form.check_box :product_ids,
                                           { multiple: true },
                                           product.id, id: "product_ids_#{product.id}",
                                           checked: session[:selected_product_ids].include?(product.id.to_s) %>
                        <%= form.label "product_ids_#{product.id}", product.title %>
                      </div>
                    <% end %>
                    <hr class="my-4">
                    <%= form.submit t('cart.analyze'), class: 'btn btn-dark btn-block mb-3' %>
                  <% end %>
                  <div class="pt-5">
                    <div class="fs-8 mb-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 18 18">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
                      </svg>
                      <%= link_to t('back'), products_path, :class => 'text-muted' %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1"><%= t('cart.statistic') %></h3>
                  <hr class="my-4">
                  <%= form_with(url: { action: :recs }, method: :get) do |form| %>
                    <div class="my-4">
                      <%= form.label :category_id, t('products.category') %>
                      <%= form.select :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), include_blank: true, class: "select-form" %>
                    </div>
                    <%= form.submit t('cart.apply_filter'), class: 'btn btn-dark btn-block mb-3' %>
                  <% end %>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-5">
                    <%= pie_chart @data, title: t('cart.top_products') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
