<div id="<%= dom_id order %>">
  <p>
    <strong>Product:</strong>
    <%= order.product.title %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= order.restaurant.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= OrderStatus.find(order.status_id).status %>
  </p>

</div>
