<%= form_with(model: restaurant) do |form| %>
  <div class="d-grid gap-2 col-6 mx-auto">
    <% if restaurant.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
        <ul>
          <% restaurant.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col">
      <%= form.label :title, style: "display: block", :class => "form-label" %>
      <%= form.text_field :title, :placeholder => :title, :class => "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, style: "display: block", :class => "form-label" %>
      <%= form.text_area :description, :class => "form-control", :placeholder => :description %>
    </div>

    <div class="mb-3">
      <%= form.label :address, style: "display: block", :class => "form-label" %>
      <%= form.text_field :address, :class => "form-control", :placeholder => :address %>
    </div>

    <div class="mb-3">
      <%= form.label :img, style: "display: block", :class => "form-label" %>
      <%= form.text_field :img, :class => "form-control", :placeholder => "example.jpg / example.png" %>
    </div>

    <%= form.submit :class => "btn btn-outline-dark" %>
  </div>
<% end %>
