<div class="card mb-3">
  <div class="row g-0">
    <div class="col-7 md-8">
      <div class="card-body">
        <h5 class="card-title text-center"><%= restaurant.title %></h5>
        <hr>
        <p class="card-text"><%= restaurant.description %></p>
        <p class="card-text"><small class="text-muted">
          <%= restaurant.address%></small>
        </p>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <% if restaurant.img.attached?%>
          <%= link_to(image_tag(restaurant.img, class: "img-fluid rounded-start"), restaurant) %>
        <% else %>
          <%= link_to(image_tag("no_image.jpg", class: "img-fluid rounded-start"), restaurant) %>
        <% end %>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center col-5">
      <% if restaurant.latitude.nil? or restaurant.longitude.nil? %>
        <p>Некорректные данные адреса. Не получены координаты.</p>
      <% else %>
        <iframe class="w-100 h-100" src="//maps.google.com/maps?q=<%= restaurant.latitude %>,<%= restaurant.longitude %>&z=16&output=embed"></iframe>
      <% end %>
    </div>
  </div>
</div>
