<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Title:</strong>
    <%= restaurant.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= restaurant.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= image_tag(restaurant.img, alt: "",size: "160x100", class: "img-responsive zoom-img") %>
  </p>

</div>
