<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Title:</strong>
    <%= restaurant.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= restaurant.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= restaurant.img %>
  </p>

</div>
