<div class="container">
  <p style="color: green"><%= notice %></p>
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center">
      <%= link_to "Back to restaurants", restaurants_path, :class => "btn btn-active-light-dark text-primary" %>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <%= link_to "Edit", edit_restaurant_path(@restaurant), :class => "btn btn-active-light-dark text-secondary" %>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <%= button_to "Destroy", @restaurant, method: :delete, :class => 'btn btn-active-light-dark text-danger' %>
    </div>
  </div>
  <br>
  <%= render @restaurant %>
</div>
