<header class="p-3 bg-dark text-white mb-5">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="btn btn-active-light-dark text-white" ><strong><%= t("include.main")%></strong></a></li>
        <%= link_to t('include.products'), products_path, :class => 'btn btn-active-light-dark text-secondary' %>
        <%= link_to t('include.brands'), brands_path, :class => 'btn btn-active-light-dark text-secondary' %>
        <%= link_to t('include.restaurants'), restaurants_path, :class => 'btn btn-active-light-dark text-secondary' %>
      </ul>

      <a class="nav-link dropdown-toggle mx-3" data-bs-toggle="dropdown" role="button" aria-expanded="false"><%= t('include.language')%></a>
      <ul class="dropdown-menu">
          <li><%= link_to 'English', "#{request.path}?#{request.query_parameters.merge(locale: :en).to_param}", class: 'dropdown-item' %></li>
          <li><%= link_to 'Русский', "#{request.path}?#{request.query_parameters.merge(locale: :ru).to_param}", class: 'dropdown-item' %></li>
      </ul>

      <div class="navbar-nav flex-row ms-md-auto">
          <% if user_signed_in? %>
          <a class="nav-link dropdown-toggle mx-3" data-bs-toggle="dropdown" role="button" aria-expanded="false"><%= t('include.notes_account')%> <strong><%= current_user.email %></strong></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to t("include.edit_account"), edit_user_registration_path, :class => 'dropdown-item' %>
            </li>
            <li>
              <%= link_to t('include.recs'), '/cart/recs', :class => 'dropdown-item' %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%=link_to t('include.admin'), admin_user_session_path, :class => 'dropdown-item' %>
            </li>
          </ul>
          <%= link_to t("include.cart"), cart_path, :class => 'btn btn-warning text-black mx-1' %>
            <%= link_to t("include.sign_out"), destroy_user_session_path, method: :delete, :class => "btn btn-outline-light mx-1" %>
          <% else %>
            <%= link_to t("include.sign_up"), new_user_registration_path, :class => 'btn btn-warning text-black mx-1'  %>
            <%= link_to t("devise.sessions.new.sign_in"), new_user_session_path, :class => 'btn btn-outline-light mx-1'%>
          <% end %>
      </div>
    </div>
  </div>
</header>