<div id="<%= dom_id brand %>">
  <p>
    <strong>Title:</strong>
    <%= brand.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= brand.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= brand.address %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= image_tag(brand.img, alt: "",size: "160x100", class: "img-responsive zoom-img") %>
  </p>

</div>
