<%= form_with(model: brand) do |form| %>
  <% if brand.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>
      <ul>
        <% brand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col col-md">
      <%= form.label :title, style: "display: block", :class => "form-label" %>
      <%= form.text_field :title, :placeholder => :title, :class => "form-control" %>
    </div>
    <div class="col">
      <%= form.label :img, style: "display: block", :class => "form-label" %>
      <%= form.text_field :img, :class => "form-control"%>
    </div>
  </div>

  <div>
    <%= form.label :description, style: "display: block", :class => "form-label" %>
    <%= form.text_area :description, :class => "form-control"%>
  </div>

  <div>
    <%= form.label :address, style: "display: block", :class => "form-label" %>
    <%= form.text_field :address, :class => "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
