<%= form_with(model: brand) do |form| %>
  <div class="d-grid gap-2 col-6 mx-auto mb-3">
    <% if brand.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>
        <ul>
          <% brand.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row mb-3">
      <div class="col">
        <%= form.label t('brands.title'), style: "display: block", :class => "form-label" %>
        <%= form.text_field :title, :placeholder => :title, :class => "form-control" %>
      </div>
      <div class="col">
        <%= form.label t('brands.img'), style: "display: block", :class => "form-label" %>
        <%= form.file_field :img, :class => "form-control" %>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label t('brands.description'), style: "display: block", :class => "form-label" %>
      <%= form.text_area :description, :placeholder => :description, :class => "form-control"%>
    </div>

    <div class="mb-3">
      <%= form.label t('brands.contacts'), style: "display: block", :class => "form-label" %>
      <%= form.text_area :contacts, :placeholder => :description, :class => "form-control"%>
    </div>

    <div class="row">
      <div class="col mb-3">
        <%= form.label t('brands.street'), style: "display: block", :class => "form-label" %>
        <%= form.text_field :street, :class => "form-control", :placeholder => :street %>
      </div>

      <div class="col mb-3">
        <%= form.label t('brands.house'), style: "display: block", :class => "form-label" %>
        <%= form.text_field :house, :class => "form-control", :placeholder => :house %>
      </div>

      <div class="col mb-3">
        <%= form.label t('brands.city'), style: "display: block", :class => "form-label" %>
        <%= form.text_field :city, :class => "form-control", :placeholder => :city %>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <%= form.label t('brands.state'), style: "display: block", :class => "form-label" %>
        <%= form.text_field :state, :class => "form-control", :placeholder => :state %>
      </div>

      <div class="col mb-3">
        <%= form.label t('brands.country'), style: "display: block", :class => "form-label" %>
        <%= form.text_field :country, :class => "form-control", :placeholder => :country %>
      </div>
    </div>

    <%= form.submit t('submit'),:class => "btn btn-outline-dark" %>
  </div>
<% end %>
