<h1>Editing brand</h1>

<%= render "form", brand: @brand %>

<br>

<div>
  <%= link_to "Show this brand", @brand %> |
  <%= link_to "Back to brands", brands_path %>
</div>

<!----------------------------------------------------------->

<!--<div class="prdt">-->
<!--  <div class="container">-->
<!--    <div class="prdt-top">-->
<!--      <div class="col-md-12">-->
<!--        <div class="product-one signup">-->
<!--          <div class="register-top heading">-->
<!--            <h2>EDIT <%#= @brand.title %></h2>-->
<!--          </div>-->

<!--          <div class="register-main">-->
<!--            <div class="col-md-6 account-left">-->
              <%#= simple_form_for(@brand, url: brand_url, html: {method: :put}) do |f| %>
                <%#= f.error_notification %>
<!--                <div class="form-group">-->
<!--                  <%= f.input :title,-->
<!--                              required: true,-->
<!--                              autofocus: true,-->
<!--                              input_html: {class: "form-control"}-->
                  %>
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                  <%= f.input :description,-->
<!--                              as: :text,-->
<!--                              required: false,-->
<!--                              input_html: {class: "form-control", rows: 2, style:"resize:none"}-->
                  %>
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                  <label class="string optional">Product main image</label>-->
<!--                  <p>-->
                    <%# if @brand.img %>
                      <%#= image_tag(@brand.img, class:"img", alt:"140x140", style:"width: 140px; height: 140px;") %>
                    <%# else %>
<!--                      No image-->
                    <%# end %>
<!--                  </p>-->
<!--                  <%= f.file_field(:img,-->
<!--                                   label: "Add an img",-->
<!--                                   accept: 'image/*')-->
                  %>
<!--                </div>-->
<!--                <div class="form-actions">-->
                  <%#= f.button :submit, "Update", class: "btn btn-success" %>
<!--                </div>-->
              <%# end %>
<!--              <br>-->

<!--              <%= link_to "Delete brand", brand_path,-->
                          data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger" %>

              <%#= link_to "Back", 'javascript:history.back()', class: "btn btn-default" %>
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->