<%= form_for :user, as: :post, namespace: admin_path, method: :put do |form| %>
  <div class="d-grid gap-2 col-6 mx-auto">
    <% if user.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mb-3">
      <%= form.label :email, style: "display: block", :class => "form-label"%>
      <%= form.email_field :email, :class => "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :user_restaurant, style: "display: block", :class => "form-label"%>
      <%= form.check_box :user_restaurant %>
    </div>

    <div class="mb-3">
      <%= form.label :user_brand, style: "display: block", :class => "form-label"%>
      <%= form.check_box :user_brand %>
    </div>

    <div class="mb-3">
      <%= form.label :admin, style: "display: block", :class => "form-label"%>
      <%= form.check_box :admin %>
    </div>
    <ul class="">Для улучшения распредление обязанностей убедитесь, что у пользователя установлена только одна роль!</ul>
    <%= form.submit :class => "btn btn-outline-dark" %>
  </div>
<% end %>
