<% if @users.empty? %>
  <p> There is no users...</p>
<% else %>
  <% i=0 %>
  <hr class="my-4">
  <div class="row mb-1 d-flex justify-content-between align-items-center">
    <div class="col d-flex justify-content-center">
      <strong>№</strong>
    </div>
    <div class="col d-flex justify-content-center">
      <strong>ID</strong>
    </div>
    <div class="col d-flex justify-content-center">
      <strong>Email</strong>
    </div>
    <div class="col d-flex justify-content-center">
      <strong>Role</strong>
    </div>
  </div>
  <% @users.each do |user| %>
    <hr class="my-4">
    <div class="row mb-1 d-flex justify-content-between align-items-center">
      <div class="col d-flex justify-content-center">
        <%= i+=1 %>
      </div>
      <div class="col d-flex justify-content-center">
        <%= user.id %>
      </div>
      <div class="col d-flex justify-content-center">
        <h6 class="text-black mb-0"><%= link_to "#{user.email}", "/admin/user/#{user.id}"%></h6>
      </div>
      <div class="col d-flex justify-content-center">
        <h6 class="mb-0">
          <% if user.admin %>
              <%= link_to "Admin", "/admin/users/edit/#{user.id}"%>
            <% elsif user.user_restaurant %>
                <%= link_to "Restaurant User", "/admin/users/edit/#{user.id}"%>
            <% elsif user.user_brand %>
                <%= link_to "Brand User", "/admin/users/edit/#{user.id}"%>
            <% else %>
                <%= link_to "No Role", "/admin/users/edit/#{user.id}"%>
            <% end %>
          </h6>
      </div>
    </div>
  <% end %>
<% end %>
