<section class="h-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-8">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">User manager</h1>
                  </div>
                  <hr class="my-4">
                  <div class="row mb-1 d-flex justify-content-between align-items-center">
                    <div class="col d-flex justify-content-center">
                      <strong>ID</strong>
                    </div>
                    <div class="col d-flex justify-content-center">
                      <strong>Email</strong>
                    </div>
                    <div class="col d-flex justify-content-center">
                      <strong>Role</strong>
                    </div>
                  </div>
                  <hr class="my-4">
                  <div class="row mb-1 d-flex justify-content-between align-items-center">
                    <div class="col d-flex justify-content-center">
                      <%= @user.id %>
                    </div>
                    <div class="col d-flex justify-content-center">
                      <h6 class="text-black mb-0"><%= link_to "#{@user.email}", "/admin/user/#{@user.id}"%></h6>
                    </div>
                    <div class="col d-flex justify-content-center">
                      <h6 class="mb-0">
                        <% if @user.admin %>
                          <%= link_to "Admin", "/admin/users/edit/#{@user.id}"%>
                        <% elsif @user.user_restaurant %>
                          <%= link_to "Restaurant User", "/admin/users/edit/#{@user.id}"%>
                        <% elsif @user.user_brand %>
                          <%= link_to "Brand User", "/admin/users/edit/#{@user.id}"%>
                        <% else %>
                          <%= link_to "No Role", "/admin/users/edit/#{@user.id}"%>
                        <% end %>
                      </h6>
                    </div>
                  </div>
                  <hr class="my-4">

                  <% @order_items.each do |item| %>
                    <hr class="my-4">
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-2 ">
                        <%= image_tag(item.product.img, alt: "", :class => "img-fluid rounded-3") %>
                      </div>
                      <div class="col-5">
                        <h6 class="text-muted"><%= item.product.title %></h6>
                        <h6 class="text-black mb-0"><%= item.product.price %>BYN</h6>
                      </div>
                    </div>
                  <% end %>
                  <hr class="my-4">
                  <div class="pt-5">
                    <div class="fs-8 mb-3">
                      <svg xmlns='http://www.w3.org/2000/svg' width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 18 18">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
                      </svg>
                      <%= link_to "Back to User manager", "/admin/manage-for-users", :class => "text-muted" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
