<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-grid gap-2 col-6 mx-auto">
    <div class="row mb-3">
      <div class="col">
        <%= form.label :title, style: "display: block", :class => "form-label"%>
        <%= form.text_field :title, :class => "form-control", :placeholder => :title%>
      </div>
      <div class="col">
        <%= form.label :img, style: "display: block", :class => "form-label" %>
        <%= form.text_field :img, :class => "form-control", :placeholder => "example.jpg / example.png"%>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :brand_id, style: "display: block", :class => "form-label"%>
      <%= form.select :brand_id, Brand.all.collect { |p| [ p.title, p.id ] }, include_blank: true, :class => "form-select form-select-lg mb-3"%>
    </div>

    <div class="mb-3">
      <%= form.label :price, style: "display: block", :class => "form-label" %>
      <%= form.text_field :price, :class => "form-control", :placeholder => "0.0"%>
    </div>

    <div class="mb-3">
      <%= form.label :description, style: "display: block", :class => "form-label" %>
      <%= form.text_area :description, :class => "form-control", :placeholder => :description%>
    </div>

    <div class="d-grid gap-2 col-12 mx-auto mb-3">
        <%= form.submit %>
    </div>
  </div>
<% end %>


