<%= form_with(model: product) do |form| %>
  <div class="d-grid gap-2 col-6 mx-auto">
    <% if product.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(product.errors.count, 'error') %>, <%= t('products.error') %>:</h2>
        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row mb-3">
      <div class="col">
        <%= form.label t('products.title'), style: "display: block", :class => "form-label"%>
        <%= form.text_field :title, :class => "form-control", :placeholder => :title%>
      </div>
      <div class="col">
        <%= form.label t('products.brand_id'), style: "display: block", :class => "form-label"%>
        <%= form.select :brand_id, Brand.all.collect { |p| [ p.title, p.id ] }, :class => "form-select" %>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label t('products.price'), style: "display: block", :class => "form-label" %>
      <%= form.text_field :price, :class => "form-control", :placeholder => "0.0"%>
    </div>

    <div class="mb-3">
      <%= form.label t('products.description'), style: "display: block", :class => "form-label" %>
      <%= form.text_area :description, :class => "form-control", :placeholder => :description%>
    </div>

    <div class="col mb-3">
      <%= form.label t('products.img'), style: "display: block", :class => "form-label" %>
      <%= form.file_field :img, :class => "form-control" %>
    </div>

    <%= form.submit t('submit'),:class => "btn btn-outline-dark" %>
  </div>
<% end %>




