<div id="<%= dom_id product %>">
  <p>
    <strong>Brand:</strong>
    <%= product.brand.title %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= link_to "#{product.title}", product %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= image_tag(product.img, alt: "",size: "160x100", class: "img-responsive zoom-img") %>
  </p>

  <%= form_with model: @order_item do |f|%>
    <%#= f.hidden_field :product_id, value: :product.id %>
    <%= f.number_field :quantity, value: 1, min: 1 %>
    <%= f.submit "Add to Cart"%>
  <% end %>
</div>
