<div class="container">
  <div class="prdt-top">
    <div class="col col-md-12 prdt-left">
      <div style="text-align:center">
        <!--<p style="color: green"><%#= notice %></p>-->
        <hr class="mt-0">
        <%= link_to "New product", new_product_path %>
        <hr>
      </div>
      <% if !@products.empty? %>
        <div style="text-align:center">
          <div class="row row-cols-3 g-3">
            <% @products.each do |product| %>
              <div class="col">
                <div class="card h-100">
                  <div class="card-body">
                    <%= link_to(image_tag(product.img, alt: "", height: "180px", class: "img-responsive zoom-img"), product) %>
                    <div class="product-bottom">
                      <h5><%= product.title %></h5>
                    </div>
                  </div>
                  <div class="card-footer">
                    <%= form_with url: "/order_items", method: :post, model: @order_item do |f|%>
                      <%= fields_for :order_item, @order_item do |item| %>
                        <div class="row">
                          <div class="col col-4">
                            <p class="card-text pt-2">Price: <%= product.price %> BYN</p>
                          </div>
                          <div class="col col-4">
                            <%= item.hidden_field :product_id, value: product.id %>
                            <p class="card-text"><%= item.number_field :quantity, value: 1, min: 1, :class => "form-control " %></p>
                          </div>
                          <div class="col">
                            <p class="card-text"><%= item.submit "Add to Cart", :class => 'btn'%></p>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <h3 class="text-center">There's no products...</h3>
      <% end %>
    </div>
  </div>
</div>
