<div class="container">
  <div class="prdt-top">
    <div class="col col-md-12 prdt-left">
      <div style="text-align:center">
        <hr class="mt-0">
        <% if can? :create, Product  %>
          <% if @products.empty? %>
            <p>Пожалуйста, сначала создайте Поставщика</p>
          <% end %>
          <%= link_to "New product", new_product_path %>
        <% else %>
          <h5 class="card-title text-center">Продукты</h5>
        <% end %>
        <hr>
      </div>
      <% if @products.empty? %>
        <h3>There's no products...</h3>
      <% else %>
        <%= render "search_form", products: @products %>
        <div style="text-align:center">
          <div class="row row-cols-3 g-3">
            <% @products.each do |product| %>
              <div class="col">
                <div class="card h-100">
                  <div class="card-body">
                    <% if product.img.attached?%>
                      <%= link_to(image_tag(product.img, alt: "", height: "180px", class: "img-responsive zoom-img"), product) %>
                    <% else %>
                      <%= link_to(image_tag("no_image.jpg", class: "img-fluid rounded-start"), product) %>
                    <% end %>
                    <div class="product-bottom">
                      <h5><%= product.title %></h5>
                    </div>
                  </div>
                  <% if can? :create, OrderItem %>
                    <div class="card-footer">
                      <%= form_with url: "/order_items", method: :post, model: @order_item do |f|%>
                        <%= fields_for :order_item, @order_item do |item| %>
                          <div class="row">
                            <div class="col col-4">
                              <p class="card-text pt-2"><%= t('products.price')%>: <%= product.price %> BYN</p>
                            </div>
                            <div class="col col-4">
                              <%= item.hidden_field :product_id, value: product.id %>
                              <%#= item.quantity = 1 %>
                              <p class="card-text"><%= item.number_field :quantity, value: 1, min: 1, :class => "form-control " %></p>
                            </div>
                            <div class="col">
                              <p class="card-text"><%= item.submit t('products.add_to_cart'), :class => 'btn btn-outline-dark'%></p>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
