<div class="container">

  <p style="color: green"><%= notice %></p>

  <%= render @product %>

  <div class="container">
    <div class="text-center">
      <%= link_to "Edit this product", edit_product_path(@product) %> |
      <%= link_to "Back to products", products_path%>
      <br><br>
      <%= button_to "Destroy this product", @product, method: :delete, :class => 'd-grid gap-2 col-6 mx-auto mb-3' %>

      <%#= button_to "Add to cart", orders_path(:product_id => product.id) %>
    </div>
  </div>

</div>
